.ContactUs_main{
    /* Your styles here */
    width: 100%;
    height: auto;
    background-color: #DFF9F1;
    
    position: relative;

  }
  .ContactUs_container{
    display: block;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }
  .container{
    width: auto;
    display: flex;
    flex-direction: row;
    grid-area: 10%;
    padding: 3rem;
    max-height: 500px;
    justify-content: space-between;

  }
  
  /* ------------->the contact part <----------------- */
  
  .UpE_right {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .Contact_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    p{
      font-size: 30px;
      font-weight: 700;
    }

  }
  .contact_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .Contact_content{
    
    p{
      font-size: 16px;
      font-weight: 400;
    }
  }
  .Email, .textArea{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    p{
      font-size: 14px;
      font-weight: 600;
      color: #29715E;
    }
  }

  .SubBtn{
    display: flex;
    justify-content: flex-end;
    .subCbtn{
      width: auto;
      padding: .5rem;
      color: white;
      background-color: #03B586;
      display: flex;
      gap: 1rem;
      flex-direction: row;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: none;
      border-radius: .5rem;
    }
  }


  .left_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 3rem 0 0;
    
}
.left_img{
  display: flex;
  width: 60%;
}

  /* ------------->input & textarea styling <----------------- */

  /* Style for the input field */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #29715E;
    border-radius: .5rem;
    transition: border-color 0.3s ease; /* Smooth transition for border color */
    outline: none; /* Remove default focus outline */
}

/* Glow effect when input is focused */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #03B586; /* Change border color when focused */
    box-shadow: 0 0 2px #03B586; /* Add glowing effect */
}
/* Style for the textarea */
textarea {
  width: 100%;
  height: 170px;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #29715E;
  border-radius: 5px;
  transition: border-color 0.3s ease; /* Smooth transition for border color */
  outline: none; /* Remove default focus outline */
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height */
}

/* Glow effect when textarea is focused */
textarea:focus {
  border-color: #03B586; /* Change border color when focused */
  box-shadow: 0 0 2px #03B586; /* Add glowing effect */
}

.contactTextArea{
  width: auto;
}


