.formContainer{
  
  width: fit-content;
}
.button{
  margin: auto;
  display: flex;
  background-color: transparent;
  text-decoration: none;
  border: none;
}
.button_holder{
  display: flex;
  justify-content: center;
  flex-direction: row;
  svg{
    font-size: 25px;
  }
  span{
    display: flex;
    color: white;
    font-size: 10px;
    font-weight: 400;
  }
}






.button_holder {
  position: relative;
  display: inline-block;
}

.reactionOptions {
  position: absolute;
  top: -40px; // Ajustez selon vos besoins
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.reactionButton {
  background: none;
  border: none;
  cursor: pointer;
}

.reactionButton:hover {
  color: blue; // Changer la couleur au survol
}
/* Ajouter ces règles CSS à votre fichier Forme.module.scss ou à votre fichier de styles */

.reactionButton:hover {
  transform: scale(1.1); /* Agrandir le bouton de 10% au survol */
  transition: transform 0.3s ease; /* Ajouter une transition fluide */
}


.button:hover .likeIcon {
  transform: scale(1.1); /* Agrandir l'icône de 10% au survol */
  transition: transform 0.3s ease; /* Ajouter une transition fluide */
}

.button:hover .dislikeIcon {
  transform: scale(1.1); /* Agrandir l'icône de 10% au survol */
  transition: transform 0.3s ease; /* Ajouter une transition fluide */
}
