.CommPage{
  background-color: #CECECE; 
  display: flex;
  flex-direction: column;
  
  
  margin-bottom: 3rem;
}
div#sp-appBar{
  display: none;
}
div#sp-commandBar{
  display: none;
}




/* SavoirPlus.module.scss */

.savoirPlusContainer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.savoirPlusEnterActive {
  max-height: 500px; /* Adjust based on the content size */
}

.savoirPlusExitActive {
  max-height: 0;
}
